/* bebas-neue-regular - latin */

@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('~@/assets/fonts/bebas_neue/BebasNeue-Regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('~@/assets/fonts/bebas_neue/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~@/assets/fonts/bebas_neue/BebasNeue-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('~@/assets/fonts/bebas_neue/BebasNeue-Regular.woff') format('woff'), /* Modern Browsers */
    url('~@/assets/fonts/bebas_neue/BebasNeue-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~@/assets/fonts/bebas_neue/BebasNeue-Regular.svg') format('svg'); /* Legacy iOS */
}

/* bebas-neue-regular - latin */

@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    src: url('~@/assets/fonts/bebas_neue/BebasNeue-Bold.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('~@/assets/fonts/bebas_neue/BebasNeue-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~@/assets/fonts/bebas_neue/BebasNeue-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('~@/assets/fonts/bebas_neue/BebasNeue-Bold.woff') format('woff'), /* Modern Browsers */
    url('~@/assets/fonts/bebas_neue/BebasNeue-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~@/assets/fonts/bebas_neue/BebasNeue-Bold.svg') format('svg'); /* Legacy iOS */
}