.messageErrorSession {
    font-family: $font_gudea;

    &-header {
      padding: 28px;
      display: flex;
      justify-content: center;
  
      @media screen and (min-width: 940px) {
        left: 28px;
        top: 40px;
        width: 372px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
      }
    }
  
    &-content {
      @media screen and (min-width: 940px) {
        padding-top: 50%;
      }
    }
  
    header svg {
      font-size: 25px;
    }
  
    &-step-indicator {
      display: flex;
      justify-content: space-between;
      width: 120px;
  
      &[data-step="1"] {
        span:nth-child(1) {
          background-color: $color_darkgreen;
        }
      }
      &[data-step="2"] {
        span:nth-child(-n+2) {
          background-color: $color_darkgreen;
        }
      }
      &[data-step="3"] {
        span:nth-child(-n+3) {
          background-color: $color_darkgreen;
        }
      }
      span {
        background-color: $color_athens-gray;
        height: 4px;
        width: 35px;
        border-radius: 20px;
      }
    }
  
    &-section {
      margin: 5px 0;
      padding: 25px 15px;
    }
  
    &-title {
        position: relative;
        font-size: 53px;
        font-weight: 700;
        font-family: $font_bebas-neue;
        text-transform: uppercase;
        color: $color_blue;
        line-height: 55px;
        text-align: center;

        img {
            max-width: 140px;
            width: 100%;
            height: auto;
            margin: 0 auto;
        }

        > div {
            color: $color_blue;
            font-size: 53px;
            line-height: 55px;
            text-align: center;
            margin-top: -88px;
        }
    }
  
    &-subtitle {
      font-size: 16px;
      color: $color_black;
      line-height: 20px;
      text-align: center;
      padding: 18% 15px 0;
    }
  
    &-subtitleOne {
      padding: 10px 0;
    }
  
    &-declined {
      position: absolute;
      top: 40%;
      right: 5%;
    }
  
    &-titleDeclined {
        position: relative;
        font-size: 40px;
        font-weight: 700;
        font-family: $font_bebas-neue;
        text-transform: uppercase;
        color: #5b88da;
        line-height: 55px;
        text-align: center;

        img {
            max-width: 50%;
            width: 100%;
            height: auto;
            margin: 0 auto;
        }

        > div {
            color: $color_blue;
            font-size: 50px;
            line-height: 55px;
            text-align: center;
            margin-top: -95px;
        }
    }
  
    &-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      padding: 8px 5px;
      // background: $color_athens-gray;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
  
      @media screen and (min-width: 940px) {
        left: 28px;
        bottom: 28px;
        width: 372px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
      }
    }
  
    &-button {
      border-radius: 4px;
      padding: 8px 20px 5px;
      font-size: 20px;
      font-weight: 700;
      font-family: $font_bebas-neue;
      text-transform: uppercase;
      background: $color_blue;
      color: $color_white;
    }
  
    &-iconEnd {
      width: 10px;
    }
}