.loader {
  &-wrapper {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $color_white;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 940px) {
      z-index: unset;
      left: 28px;
      top: 28px;
      width: 372px;
      height: 94%;
      border-radius: 35px;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #5b88da;
    font-size: 20px;
  }

  &-circle {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 2s linear infinite;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-icon {
    width: 50px;
    height: 50px;

    color: #5b88da;

    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}