.confirmationCode {
  font-family: $font_gudea;
  color: $color_elephant;
  
  &-wrapper {
    padding: 15px;
  }

  &-header {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header svg {
    font-size: 25px;
  }

  &-step-indicator {
    display: flex;
    justify-content: space-between;
    width: 170px;

    &[data-step="1"] {
      span:nth-child(1) {
        background-color: $color_elephant;
      }
    }
    &[data-step="2"] {
      span:nth-child(-n + 2) {
        background-color: $color_elephant;
      }
    }
    &[data-step="3"] {
      span:nth-child(-n + 3) {
        background-color: $color_elephant;
      }
    }
    span {
      background-color: $color_athens-gray;
      height: 6px;
      width: 40px;
      border-radius: 20px;
    }
  }

  &-title {
    font-size: 27px;
    font-weight: bold;
    font-family: $font_bebas-neue;
    text-transform: uppercase;
    line-height: 32px;
  }

  &-description {
    font-size: 14px;
  }

  &-form {
    padding: 25px 0;
  }

  &-fields {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    position: relative;
  }

  &-label {
    color: #9090a5;
    font-size: 12px;
    line-height: 17px;
    padding-left: 12px;
  }

  &-input {
    width: 100%;
    input {
      background: rgb(241, 241, 243);
    }

    outline: none;
    margin-top: 5px;

    background: rgb(241, 241, 243);
    border-radius: 25px;
    padding: 10px 16px;

    &:focus {
      border: 1px solid #9eabb7;
      outline-style: solid;
      outline-color: #9eabb7;
      outline-width: thin;
    }

    &.error_input_code {
      background: #ebd0d0;
      border-radius: 25px;
      padding: 10px 16px;
      border: 1px solid #FA4946;
  
      &:focus {
        outline-style: solid;
        outline-color: #FA4946;;
        outline-width: thin;
      }
    }
  }

  &-inputValidated {
    width: 100%;
  }

  &-iconConfirmation {
    width: 5%;
    position: absolute;
    top: 40%;
    right: 5%;
  }

  @media (orientation: landscape) and (min-width: 568px) and (max-width: 939px) {
    &-iconConfirmation {
      width: 3%;
      top: 35%;
    }
  }

  &-messages {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-section {
    padding: 0 10px 30px 15px;
  }

  &-errors {
    color: #FA4946;
    border-radius: 3px;
    font-size: 10px;
    padding-left: 12px;
  }

  &-errorValidatedCode {
    color: #FA4946;
    font-size: 10px;

    width: 75%;
  }

  &-link {
    cursor: pointer;
    display: block;
    font-size: 12px;
    text-align: right;

    color: #5b88da;
    text-decoration: underline;
    text-decoration-color: #5b88da;

    position: absolute;
    right: 5%;
  }

  &-spans {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-direction: row;

    padding: 10px 12px;
  }

  &-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 11px;
    background: $color_athens-gray;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 940px) {
      left: 28px;
      bottom: 28px;
      width: 372px;
      border-bottom-left-radius: 35px;
      border-bottom-right-radius: 35px;
    }


  }

  &-button {
    font-family: $font_bebas-neue;
    border-radius: 4px;
    background: rgba(93, 137, 218, 0.3);
    color: rgba(20, 54, 66, 0.7);
    padding: 8px 20px 5px 20px;

    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover, &:focus {
      background: $color_havelock-blue;
      color: $color_white;
    }

    &.active {
      background: $color_havelock-blue;
      color: $color_white;
    }
  }

  &-icon {
    width: 10px;
  }
}